# AWS
AWS_DEFAULT_REGION=eu-central-1

# Exercise 3
EC2_KEY_NAME=python-automation-key
EC2_PRIVATE_KEY_PATH=/absolute/path/to/python-automation-key.pem
SSH_ALLOWED_CIDR=YOUR.PUBLIC.IP.ADDRESS/32

# Exercise 4 / 5
ECR_REPO_NAME=python-devops-demo-app

# Exercise 5
EC2_SERVER=
EC2_USER=ec2-user
ECR_REGISTRY=
CONTAINER_PORT=80
HOST_PORT=8080